<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <i class="material-icons">group</i>
          </div>
          <h4 class="card-title"><strong>Utilisateurs</strong></h4>
          <!--
            <h3 class="card-title">{{typeHandicapesLength}}</h3>
          -->
        </div>
        <div class="card-footer">
          <div class="stats">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card card-stats">
        <div class="card-header card-header-red card-header-icon">
          <div class="card-icon">
            <i class="material-icons">accessible</i>
          </div>
          <h4 class="card-title"><strong>Equipements</strong></h4>
          <!--
            <h3 class="card-title">{{typeHandicapesLength}}</h3>
          -->
        </div>
        <div class="card-footer">
          <div class="stats">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <i class="material-icons">list</i>
          </div>
          <h4 class="card-title"><strong>Types Handicapes</strong></h4>
          <!--
            <h3 class="card-title">{{typeHandicapesLength}}</h3>
          -->
        </div>
        <div class="card-footer">
          <div class="stats">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
